<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Booking</title>
    <link rel="stylesheet" href="busbooking.css">

    <script th:src="@{script.js}"></script>
</head>
<body>


<header>
    <div class="logo">RedBus</div>

    <div class="menu">
        <span>Bookings</span>
        <span>Help</span>
        <span>Account</span>
    </div>
</header>


<section class="hero">
    <h1>India's No. 1 online<br>bus ticket booking site</h1>

    <form th:action="@{/busbooking}"  th:method="post"  th:object="${BusEntity}">
        <div class="search-box">
            <div class="input-group">
                <label>From</label>
                <input type="text"  th:field="*{fromPlace}">
            </div>

            <div class="input-group">
                <label>To</label>
                <input type="text"    th:field="*{toPlace}">
            </div>

            <div class="input-group">
                <label>Date of Journey</label>
                <input type="date">
            </div>

            <button class="search-btn">Search Buses</button>
        </div>

        <div class="extra-btn-container">
            <button type="button" class="extra-btn" onclick="addBus()">Add Bus</button>
        </div>
    </form>

</section>

</body>
</html>