<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>seatvalue</title>-->
<!--</head>-->
<!--<body>-->
<!--     <form th:action="@{/seatdata}" th:object="${seatEntity}"  th:method="post">-->
<!--         <label>seatno</label>-->
<!--         <input type="number"  th:field="*{seatNo}">-->
<!--         <label>available </label>-->
<!--         <input type="text"  th:field="*{available}">-->
<!--         <label>busid</label>-->
<!--         <input type="number"  th:field="*{busId}">-->

<!--     </form>-->
<!--</body>-->
<!--</html>-->