<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>

    <link rel="stylesheet" href="regsiter.css">


</head>
<body>
<form th:action="@{/saved}" th:object="${RegEntity}" method="post">

    <div class="reg">
        <label>UserName</label>
        <input type="text"  th:field="*{username}" >

        <label>Email</label>
        <input type="email"  th:field="*{email}">

        <label>Password</label>
        <input type="password"   th:field="*{password}">
        <button><a>login</a></button>
    </div>
</form>
</body>
</html>