<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Regsiter </title>

    <link rel="stylesheet" href="regsiter.css">


</head>
<body>
<form th:action="@{/datasaved}" th:object="${RegEntity}" method="post">

   <div class="reg">
       <label>UserName</label>
       <input type="text"  th:field="*{username}" >

       <label>Email</label>
       <input type="email"  th:field="*{email}">

       <label>Password</label>
       <input type="password"  th:field="*{password}">
       <button>Regsiter</button>
       <a style="color:black;" th:href="@{/login}">login</a>
   </div>
</form>
</body>
</html>