<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seat</title>
    <link rel="stylesheet" href="seats.css">
</head>
<body>
<div class="container">
    <div class="left">


        <div class="lower">
            <h4>Lower deck</h4>
        </div>

        <div class="seats">
            <div class="row">
                <div class="seat"><span></span>
                    <p>998</p>
                </div>

                <div class="rigthside">
                    <div class="seat"><span></span>
                        <p>989</p>
                    </div>

                    <div class="seat"><span></span>
                        <p>990</p>
                    </div>
                </div>


            </div>

        </div>


        <div class="seats">
            <div class="row">
                <div class="seat"><span></span>
                    <p>998</p>
                </div>

                <div class="rigthside">
                    <div class="seat"><span></span>
                        <p>999</p>
                    </div>
                    <div class="seat"><span></span>
                        <p>1000</p>
                    </div>
                </div>


            </div>

        </div>

        <div class="seats">
            <div class="row">
                <div class="seat"><span></span>
                    <p>998</p></div>

                <div class="rigthside">
                    <div class="seat"><span></span>
                        <p>960</p>
                    </div>
                    <div class="seat"><span></span>
                        <p>961</p>
                    </div>
                </div>


            </div>

        </div>

        <div class ="seats">
            <div class="row">
                <div class="seat"><span></span>
                    <p>962</p>
                </div>

                <div class="rigthside">
                    <div class="seat"><span></span>
                        <p>850</p>
                    </div>
                    <div class="seat"><span></span>
                        <p>980</p>
                    </div>
                </div>


            </div>

        </div>

        <div class="seats">
            <div class="row">
                <div class="seat"><span></span>
                    <p>1000</p>
                </div>

                <div class="rigthside">
                    <div class="seat"><span></span>
                        <p>1001</p>
                    </div>
                    <div class="seat"><span></span>
                        <p>1002</p>
                    </div>
                </div>


            </div>

        </div>
    </div>





    <!-- UPPER DECK CODE  -->
    <div class="right" style="border: 1px solid black; border-radius: 15px;">

        <div class="rights">


            <div class="lower">
                <h4>Upper deck</h4>
            </div>

            <div class="seats">
                <div class="row">
                    <div class="seat"><span></span>
                        <p>998</p>
                    </div>

                    <div class="rigthside">
                        <div class="seat"><span></span>
                            <p>989</p>
                        </div>

                        <div class="seat"><span></span>
                            <p>990</p>
                        </div>
                    </div>


                </div>

            </div>


            <div class="seats">
                <div class="row">
                    <div class="seat"><span></span>
                        <p>998</p>
                    </div>

                    <div class="rigthside">
                        <div class="seat"><span></span>
                            <p>999</p>
                        </div>
                        <div class="seat"><span></span>
                            <p>1000</p>
                        </div>
                    </div>


                </div>

            </div>

            <div class="seats">
                <div class="row">
                    <div class="seat"><span></span>
                        <p>998</p></div>

                    <div class="rigthside">
                        <div class="seat"><span></span>
                            <p>960</p>
                        </div>
                        <div class="seat"><span></span>
                            <p>961</p>
                        </div>
                    </div>


                </div>

            </div>

            <div class="seats">
                <div class="row">
                    <div class="seat"><span></span>
                        <p>962</p>
                    </div>

                    <div class="rigthside">
                        <div class="seat"><span></span>
                            <p>850</p>
                        </div>
                        <div class="seat"><span></span>
                            <p>980</p>
                        </div>
                    </div>


                </div>

            </div>

            <div class="seats">
                <div class="row">
                    <div class="seat"><span></span>
                        <p>1000</p>
                    </div>

                    <div class="rigthside">
                        <div class="seat"><span></span>
                            <p>1001</p>
                        </div>
                        <div class="seat"><span></span>
                            <p>1002</p>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

</div>


</body>
</html>