<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seat</title>
    <link rel="stylesheet" href="seatdesign.css">
</head>
<body>

<form th:action= "@{/seat/update}"  th:object="${seatEntity}" th:method="post">

        <div class="seat-container">

            <div class="seat-box" th:each="s : ${seats}">

                <input type="checkbox"
                       name="seatselection"
                       th:value="${s.seatNo}"
                       th:disabled="${s.available}"
                       th:id="${s.seatNo}"
                >

                <label th:for="${s.seatNo}"
                       th:classappend="${s.available} ? 'sold' : ''">

                    <div class="seat"></div>
                    <div class="price">₹988</div>

                </label>

            </div>

        </div>

        <button type="submit">Book</button>
</form>

</body>
</html>